#-----------------------------------------
#     Files with passwords
#-----------------------------------------
# Mosquitto
/services/mosquitto/defaults/pwfile/pwfile
/services/mosquitto/secrets.env

# Node-Red
/services/nodered/defaults/data/custom-settings.js

# Grafana

# InfluxDB

# Duplicatti
/backups

# Portainer

#-----------------------------------------
#     Container Volumes 
#-----------------------------------------
# Mosquitto
/volumes/mosquitto

# Node-Red
/volumes/nodered/ssh
/volumes/nodered/data/context
/volumes/nodered/data/*.backup
/volumes/nodered/data/.*
/volumes/nodered/data/.npm
/volumes/nodered/data/flows_cred.json
/volumes/nodered/data/custom-settings.js
/volumes/nodered/data/settings.js

# Grafana
/volumes/grafana

# InfluxDB
/volumes/influxdb
/backups/influxdb

# Duplicati
/volumes/duplicati

# Portainer
/volumes/portainer

# Homer
#/volumes/homer

# Tasmoadmin
/volumes/tasmoadmin

# Elasticsearch
/volumes/elasticsearch
